.seccion{
    width: 100%;
    
}
.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen img{
    width: 50%;
    border-radius: 3vh;
    margin-top: 15vh;
    
}
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    margin-top: 7vh;
}
.botones button{
    width: 8%;
    height: 5vh;
    border-radius: 1.5vh;



}